{% extends "plain.html" %}
{% block extrahead %}
  <title>Lista Grafici Completa</title>
{% endblock %}
{% block content %}

  <div class="google-header-bar"></div>

  <div class="main content clearfix">

  <div class="sign-in">
  <div class="signin-box">
    <form method="link" action="{% url 'home' %}">
        <input type="submit" class="g-button g-button-orange" name="signIn" id="signIn" value="Torna alla Home">
    </form>
  </div>
  </div>

  <div class="product-headers">
    <h1>Lista Completa Grafici</h1>
  </div>

  <h3><em>Numero totale: {{ count }}</em></h3>
  
  <table class="bordered">
    <thead>
    	<tr>
  		  <th scope="col" class="rounded-company">ID</th>
        <th scope="col" class="rounded-company-q2">Titolo</th>
        <th scope="col" class="rounded-q2">Stile</th>
        <th scope="col" class="rounded-q3">Dimensioni</th>
        <th scope="col" class="rounded-q4">Azione</th>
      </tr>
    </thead>
    <tbody>
  		{% for chart in charts %}
    		<tr>
    			<td>{{ chart.id }}</td>
          <td><a href="{% url 'visualize' chart.id chart.style %}">{{ chart.title|title }}</a></td>
          <td>
            {% ifequal chart.style 'lc' %}linee{% endifequal %}
    			  {% ifequal chart.style 'bvg'%}barre{% endifequal %}
    		    {% ifequal chart.style 'mst'%}misto{% endifequal %}
  	     	</td>
          <td>{{ chart.width }}</td>
          <td><a href="{% url 'update' chart.id %}">modifica</a></td>
        </tr>
  		{% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}